@import "src/styles/palette/palette";
@import "src/styles/mixins/mixins";

.modalTitle {
  @include title1;

  text-transform: uppercase;
}

.username {
  @include body;

  margin: 32px 0;
}

.input {
  display: block;
  width: 100%;
  border: 1px solid #646464;
  border-radius: 16px;
  padding: 13px 16px;
}

.supportingText {
  @include footnote;
  
  display: flex;
  align-items: center;
  color: $gray;
  margin-top: 8px;
  gap: 8px;
}

.selectButton {
  width: 100%;
  margin-top: 40px;
}