@import "src/styles/palette/palette";

.modalBackground {
  width: 100vw;
  height: calc(100vh - 76px);
  background-color: #fff;
  position: fixed;
  top: 76px;
  left: 0;
  justify-content: center;
  display: none;
  z-index: 1;
  padding-top: 24px;

  @media(max-width: 650px) {
    height: 100vh;
    top: 0;
    z-index: 3;
  }

  &.active {
    display: flex;
  }
}

.modalWrapper {
  width: 100%;
  max-width: 892px;
  position: relative;
  padding-top: 40px;

  @media (max-width: 900px) {
    padding: 40px 15px 0;
  }
}

.closeModal {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 4;

  @media (max-width: 900px) {
    right: 15px;
  }
}